global:
  scrape_interval: 1s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "exporter"
    static_configs:
      - targets: ["exporter:10009"]

  - job_name: "influxdb_exporter"
    static_configs:
      - targets: ["influxdb_exporter:9122"]

storage:
  tsdb:
    out_of_order_time_window: 5m
