[Unit]
Description=Prusa Exporter service
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker compose -f /opt/prusa_exporter/docker-compose.yaml up
ExecStop=/usr/bin/docker compose -f /opt/prusa_exporter/docker-compose.yaml down

[Install]
WantedBy=multi-user.target
